---
# Production Inventory - Studio ERP
# Aggiorna l'IP dopo provisioning Hetzner

all:
  children:
    production:
      hosts:
        studio-erp-prod:
          ansible_host: 116.203.109.249  # IP Hetzner (romanoing.com)
          ansible_port: 22
          ansible_user: root
          ansible_python_interpreter: /usr/bin/python3

